@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf") format("truetype");
}
html {
  background: #e5e5e5;
}
body {
  background: url("../img/background.png");
  width: 1366px;
  height: 768px;
  margin: auto;
}
/* -------------------------------header--------------------------------- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-section {
  margin-top: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1030px;
  height: 61px;
}
.header-block-1 a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  cursor: pointer;
}
.header-img {
  position: relative;
  width: 53px;
  height: 47px;
  background: url("../img/logo-1.png");
}
.header-block-1 a:hover > .header-title > p {
  color: #f26522;
}
.header-block-1 a:hover > .header-img {
  background: url("../img/logo-1-hover.png") no-repeat;
}

.header-title {
  padding-left: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  color: white;
}
.header-title > p:nth-child(1) {
  font-size: 29px;
  line-height: 29px;
}
.header-title > p:nth-child(2) {
  font-size: 18px;
  line-height: 18px;
}
.header-block-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}
.header-block-2 > div > a {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: white;
}
.header-block-2 > div > a:hover {
  color: #f26522;
}
/* -------------------------------main--------------------------------- */
main {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1030px;
  height: 560px;
}
.main-container-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.main-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 300px;
  height: 261px;
}
.main-img {
  position: relative;
}
.main-img::before {
  position: absolute;
  width: 304px;
  height: 224px;
  content: "";
  top: -2px;
  right: 0;
  bottom: 0;
  left: -2px;
  background-image: linear-gradient(to top right, white 33%, black 66%);
  border-radius: 3px;
  z-index: 1;
}
.main-img > a > img {
  position: relative;
  width: 300px;
  height: 220px;
  z-index: 2;
}
.commit-box {
  position: absolute;
  top: 165px;
  width: 300px;
  height: 55px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #f26522;
  transition: opacity, 0.5s;
  transition-timing-function: linear;
  z-index: 3;
  opacity: 0;
}
.line-1 {
  margin-left: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}
.line-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.line-2 > div:nth-child(1) {
  margin-left: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.line-2 > div:nth-child(2) {
  position: relative;
  margin-right: 37px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}
.line-2 > div:nth-child(2)::before {
  position: absolute;
  content: "";
  background: url(../img/arrow-2.png);
  width: 20px;
  height: 20px;
  left: 92px;
  top: 2px;
  background-repeat: no-repeat;
  background-size: 5px 10px;
}
.main-title {
  position: relative;
  bottom: 0;
}
.main-title a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  z-index: 6;
}
.main-box:hover div ~ .main-title a {
  color: #f26522;
}
.main-box:hover div ~ .commit-box {
  opacity: 1;
}
.footer {
  margin-top: 49px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
